/********** Body **********/
body {
  margin              : 0;
  padding             : 0;
  font-family         : 'Noto Serif KR', sans-serif;
  background          : repeating-linear-gradient(
                          45deg,
                          #fcfcfc,
                          #fcfcfc 10px,
                          #fafafa 10px,
                          #fafafa 20px
                        );
}

/********** Nav **********/
.hero {
  background          : repeating-linear-gradient(
                          45deg,
                          #ff2b56,
                          #ff2b56 10px,
                          #fa244f 10px,
                          #fa244f 20px
                        );
  -webkit-clip-path   : polygon(0 0, 100% 0, 100% 93%, 0% 100%);
  clip-path           : polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}

.hero.is-danger .navbar-menu {
  background          : transparent !important;
  text-align          : center;
}

/********** Single Board **********/
.box {
  box-shadow          : none;
  padding             : 1.25rem;
  margin-bottom       : 0 !important;
}

/********** Thread **********/
.thread-article {
  padding-bottom      : 0 !important;
}

.card-content {
  background          : #ff2b56;
  padding-bottom      : 0.5rem;
}

p.thread-title {
  margin-bottom       : 0 !important;
  color               : #fcfcfc !important;
}

.time {
  color               : #fafafa;
}

.reply-title {
  background          : #fcfcfc;
  border-bottom       : 1px solid #fa244f;
  padding             : 1.25rem;
  margin-bottom       : 0;
}

.reply-to-title {
  background          : #f5f5f5;
  background          : repeating-linear-gradient(
                          45deg,
                          #fcfcfc,
                          #fcfcfc 10px,
                          #f5f5f5 10px,
                          #f5f5f5 20px
                        );
  border-bottom       : 1px solid #fa244f;
  padding             : 1.25rem;
  margin-bottom       : 0;
}

/********** Publish Form **********/

.field {
  margin-bottom       : 1.25rem !important;
}

#message, #password, #board, #new-board {
  background          : transparent !important;
  box-shadow          : none;
  border-radius       : 0;
  border              : none;
  border-bottom       : 1px dashed #fa244f;
}

.input:focus, #board:focus {
  outline             : none !important;
  border              : 1px solid #ff2b56;
  box-shadow          : 0 0 10px #ff2b5650;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  color               : #ff386050;
}

.button.is-danger:hover {
  background          : #189ACC !important;
}

/********** Footer **********/
footer.footer {
  -webkit-clip-path   : polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  clip-path           : polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

/********** Misc **********/
.section-title {
  border-bottom       : 1px solid #ff3860;
  padding-bottom      : 1rem;
}

a, button {
  transition          : 300ms;
}

a.button.is-light.is-outlined:hover {
  color               : #ffdd57;
  background          : none;
}

.has-text-grey-dark {
  color               : #555 !important;
}

.notification {
  background          : #189ACC;
  color               : #fcfcfc;
  margin-top          : 1rem;
  opacity             : 0;
  transition          : opacity 300ms;
}

.notification.showNotification {
  opacity             : 1;
}

.modal-card {
  width               : auto;
}