head
  meta( charset="UTF-8" )
  meta( http-equiv="X-UA-Compatible", content="ie=edge" )
  meta( name="viewport",   content="width=device-width, initial-scale=1.0" )
  meta( name="author"      content="Yago Estévez" )
  meta( name="description" content="A project for freeCodeCamp certification" )
  meta( name="keywords"    content="freecodecamp, nodejs, node, express, javascript, mongodb, mongoose" )
  link( rel="stylesheet"   href="/assets/main.css" )
  link( rel="stylesheet"   href="/assets/bootstrap-4.1.2.min.css" )
  link( rel="stylesheet"   href="https://fonts.googleapis.com/css?family=Markazi+Text" )
  title Anonymous Message Board by Yago Estévez