*,
*::before,
*::after,
:root {
  margin            : 0;
  padding           : 0;
  box-sizing        : border-box;
}

body {
  height            : 100%;
  font-family       : 'Markazi Text', serif !important;
  font-size         : 1.4rem !important;
  padding           : 2rem;
  color             : #588158 !important;
}

img {
  width             : 100%;
  padding           : 2rem 1rem;
}

.form {
  position          : relative;
  box-sizing        : border-box;
  height            : auto;
  padding           : 0.5rem;
  display           : flex;
  flex-direction    : column;

}

input[type="text"] {
  color             : #006400 !important;
  font-size         : 1.5rem; 
}

input[type="text"]:focus {   
  border-color      : #588158;
  box-shadow        : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #588158;
  outline           : 0 none;
}

.btn-primary, .btn-primary:visited {
  background        : #006400 !important; 
  border-color      : #008300 !important;
  transition        : 300ms; 
}
  .btn-primary:hover,
  .btn-primary:active {
    background      : #008300 !important; 
    border-color    : #006400 !important; 
  }

.btn-outline-primary, .btn-outline-primary:visited {
  background        : transparent; 
  border-color      : #008300 !important;
  color             : #008300 !important;
  transition        : 300ms; 
}
  .btn-outline-primary:hover,
  .btn-outline-primary:active {
    background      : #008300 !important; 
    border-color    : #006400 !important; 
    color           : #f5f5f5 !important;
  }

.form-control:focus {
  border-color      : #008300;
  box-shadow        : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #008300aa;
}

.btn:focus {
  border-color      : #008300 !important;
  box-shadow        : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #008300aa !important;
}

footer a, footer a:visited {
  color             : #006400;
  transition        : color 300ms; 
}

  footer a:hover, footer a:active {
    text-decoration : none;
  }

#main .bg-primary {
  background        : #006400 !important;
}

#main .bg-secondary {
  background        : #588158 !important;
}

#main button.btn {
  font-size         : 1.5rem !important; 
}

::placeholder {
  color             : #588158 !important;
}



