<!DOCTYPE html>
html(lang="en")
  include Partials/header.pug

  body.text-center
    .jumbotron
      .display-4 Not Found
      .lead Sorry, the page you were looking for was not found.
      hr.my-4
      .lead
        a.btn.btn-primary.btn-lg( href="/" ) Back to index


    include Partials/footer.pug